<br>{{user.userName}}, это Ваш личный кабинет!<br>

<span>Ваш номер телефона: {{user.phone}}</span><br>
<span>Ваша электронная почта: {{user.email}}</span><br>
<span>Ваш адрес: {{user.location}}</span><br>

<ul class="contents">Ваши заказы:
  {{#each user.ordersArchive}}
  <li class="entry" id="{{_id}}">

    <a href="/offers/{{_id}}"><img style="width: 15%" src="./img/bigmac.png" alt="logoRestoran"></a>

    <ul class="contents">
      {{#each contents}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </li>
  <div>{{price}}</div>
  <a href="/offers/{{_id}}"></a>
  {{/each}}
</ul>
