<div class="container container-fluid courierProfile">
    <div class="row">

        <div class="col .col-6 .col-md-4">
            <header>
                <img src="../img/959-9592035_-png-png.png" alt="logo" width="160" height="150">
            </header>
        </div>
        <div class="greeting col .col-6 .col-md-4">
            
            {{courier.userName}}, добро пожаловать!<br>
        Это Ваш личный кабинет!<br><br>
        </div>
    </div>

    <div class="row">
        <div class="w-100"></div>
        <span>Ваш номер телефона: {{courier.phone}}</span><br>
        <div class="w-100"></div>
        <span>Ваша электронная почта: {{courier.email}}</span><br>
        <div class="w-100"></div>
        <div>Текущий заказ: {{currentOrder}}</div>
        <div class="w-100"></div>
        <ul class="contents">Ваши заказы:
            {{#each courier.ordersArchive}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>

</div>