

<br>Здравствуйте, {{courier.userName}}!<br>
 Это Ваш личный кабинет<br>
<span>Ваш номер телефона: {{courier.phone}}</span><br>
<span>Ваша электронная почта: {{courier.email}}</span><br>

<div>Текущий заказ: {{courier.currentOrder}}</div>

 <ul class="contents">Ваши заказы:
      {{#each courier.ordersArchive}}
      <li class="entry" id = "{{_id}}">

<a><img style = "width: 15%" src="./img/bigmac.png" alt="logoRestoran"></a>
      
      <ul class="contents">
        {{#each contents}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
    </li>
    <div>{{price}}</div>
    <a href="/offers/{{_id}}"></a>
      {{/each}}
      </ul>

